
@{
    ViewBag.Title = "Unauthorize";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@Styles.Render("~/Msg/css")
<hgroup class="msg">
    <h1>Error.</h1>
    <h2>You are not a authorized user</h2>
</hgroup>

